<!DOCTYPE html>{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Example 2</title>
    <link rel="stylesheet" href="{%static 'css/invoice-template-1.css' %}" media="all" />
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static 'img/logo.png'%}" style="width: 134px; height:116px"> 
      </div>
      <div id="company">
        <h1 class="name">{{company.name}}</h1>
        <div>{{company.address}}</div>
        <div>{{company.phone}}</div>
        <div><a href="mailto:{{company.email}}">{{company.email}}</a></div>
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          <div class="to">INVOICE TO:</div>
          <h2 class="name">{{customer}}</h2>
          <div class="address">{{billing_address}}</div>
          <div class="email"><a href="mailto:{{customer_email}}">{{customer_email}}</a></div>
        </div>
        <div id="invoice">
          <h1>#{{invoice_id}}</h1>
          <div class="date">Date of Invoice: {{date}}</div>
          <div class="date">Due Date: {{due_date}}</div>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="no">#</th>
            <th class="desc">DESCRIPTION</th>
            <th class="unit">RATE</th>
            <th class="qty">QUANTITY</th>
            <th class="total">TOTAL</th>
          </tr>
        </thead>
        <tbody>
			{% for item in lineitem %}
          <tr>
            <td class="no">{{forloop.counter}}</td>
            <td class="desc">{{item.description}}</td>
            <td class="unit">${{item.rate}}</td>
            <td class="qty">{{item.quantity}}</td>
            <td class="total">${{item.amount}}</td>
		  </tr>
		  {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">SUBTOTAL</td>
            <td>${{invoice_total}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">TAX 0%</td>
            <td>${{invoice_total}}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">GRAND TOTAL</td>
            <td>${{invoice_total}}</td>
          </tr>
        </tfoot>
      </table>
      <div id="thanks">Thank you!</div>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>